/*
font : @import url()

*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

/*
navigation bar styling
*/
.wide-nav{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.nav-bar{
    position: fixed;
    width: 100%;
    padding: 10px 0;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    transition: all 0.3s ease;
    background: rgb(0, 0, 0);
    /*background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 45%,rgba(0,0,0,1) 45%, rgba(255,255,255,1) 46% rgba(0,0,0,1) 100%); */
}
.nav-bar.sticky{
    padding: 3px 0 5px 0;
    border-bottom: #333;
    background: radial-gradient(rgb(234, 54, 220), rgb(23, 44, 231)) center no-repeat fixed;
    ;
}

.nav-bar .wide-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-bar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}

/*.nav-bar.sticky .logo a{
    
}
*/
.nav-bar .wide-nav .nav-content li a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease-out;
}
.nav-bar .logo a span{
    color: aqua;
    transition: all 0.3s ease;
}
.nav-bar.sticky .logo a span{
    color: rgb(0, 0, 0);
}
.nav-bar .wide-nav .nav-content li{
    list-style: none;
    display: inline-block;
    color: rgb(255, 255, 255);
}
.nav-bar.sticky .wide-nav .nav-content li a:hover{
    color: rgb(255, 255, 255);
}
.nav-bar.sticky .wide-nav .logo a:hover{
    color: rgb(0, 0, 0);
}
.nav-bar.sticky .wide-nav .logo a span:hover{
    color: rgb(255, 255, 255);
}
/*.nav-bar .nav-content li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease-out;
}*/
.nav-bar .nav-content li a:hover{
    color: aqua;
}
.nav-bar.sticky .nav-content li a:hover{
    color: rgb(0, 0, 0);
}
/*menu button styling*/
.menu{
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
.topBar .midBar .botBar{
    width: 35px;
    height: 50px;
    background: #333;
    margin: 6px 0;
    transition: 0.4s;
}
/*rotate top bar*/
.change .topBar{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
/*fade out the mid bar*/
.change .midBar {
    opacity: 0;
}
/*rotate bottom bar*/
.change .botBar {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/*
.logo  a:hover span{
     color: rgb(255, 0, 0);
}
*/
/*
home css
*/
.home{
    display: flex;
    background: radial-gradient(rgb(234, 54, 220), rgb(23, 44, 231)) center no-repeat fixed;
    height: 100vh;
    min-height: 500px;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}

/*
home 
*/
.home .wide-nav{
    margin: auto 0 auto 400px;
}
.home .home-content .input-1{
    font-size: 27px;
}
.home .home-content .input-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .input-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .input-3 span{
    color: aqua;
    font-weight: 500;
}
/*responsive query*/
@media(max-width: 947px){
    .wide-nav{
        padding: 0 50px;
    }
    .menu-btn{
    display: block;
    z-index: 999;
    
}
    .nav-bar .nav-content{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: black;
        text-align: center;
        padding-top: 80px;
    }
    .nav-bar .nav-content.active{
        left: -100%;
    }
    .nav-bar .wide-nav .nav-content li{
        display: block;
    }
    .nav-bar .wide-nav .nav-content li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .nav-bar.sticky .wide-nav .nav-content li a{
        color: rgb(0, 0, 0);
    }
}
