*{
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    display: block;
    margin: 0px auto;
    contain: strict;
    max-height: max-content;
    width: 100vw;
    height: 100vw;
    background: radial-gradient(rgb(98, 0, 230), rgb(0, 120, 225)) center fixed;

}
.nav-bar{
    position: fixed;
    width: 100%;
    line-height: 3em;
    padding-right: 20px;
    background: rgba(238,174,202,085);
    background: radial-gradient(circle, rgba(238,174,202,0.85) 0%, rgba(148,187,233,0.85) 100%);
    border-bottom: 1px solid transparent;
    box-shadow:0px 0px 2px 1px rgba(99, 99, 99, 0.85);
    padding-top: 1.5px;
}
.nav-content{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    text-decoration: none;
    font-size: 14px;
    list-style: none;
}
.menu {
    display: none;
}
.logo{
    letter-spacing: 0.2em;
    font-size: 28px;
}
.logo span{
    color: rgb(255, 255, 255);
}
.logo span:hover{
    color: rgb(0, 0, 0);
}
h1 a:hover{
    color: aquamarine;
}
.logo span a:hover{
    color: rgb(207, 162, 192);
}
.left-nav{
    display: inline;
}
.left-nav li:hover{
    transform: translateY(-5%);
    transition: 0.34s ease-in-out;
}
.right-nav a{
    display: inline;
    text-align: center;
}
.right-nav li a:hover{
    box-shadow: 5px 2px 100px 1px rgba(255, 255, 255, 0.75);
}
.right-nav li a{
    display: inline-flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 30px;
    justify-items: center;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
}
a{
    color: rgba(0, 0, 0, 0.85);
}
.logo, li, a{
    margin-left: 10px;
    text-decoration: none;
    font-weight: 600;
}
.nav-bar, li, h1 {
    display: inline-block;
    align-items: baseline;
}
.left-nav, .right-nav{
    display: inline;
}
img{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-color: aliceblue;
    border: none;
    color: rgb(255, 255, 255);
    overflow: visible;
    padding: 0px;

}
img:hover{
    opacity: 1;
    transform: scale(105%);
    transition: 0.5s ease-out;
    background-color: rgb(255, 255, 255);

}
.img-container{
    padding-top: 3.5em;
    width: 100vw;
}
.intro {
    margin: 80px 0px 0px 20px;
    height: 20vh;
}/*
.intro {
    margin: auto 0 auto 60vw;
}*/
.intro .intro-content .input-1{
    font-size: 27px;
}
.intro .intro-content .input-2{
    font-size: 75px;
    font-weight: 600;
}
.intro .intro-content .input-3{
    font-size: 40px;
}

.specialties {
    color: aqua;
    font-weight: 500;
    width: 100vw;
    height: 40vh;
    margin-left: -0.1em;
    overflow: hidden;
}
ul.slick-dots, button{
    display: flex;
    margin-left: 50%;
    width: 20px;
    border-radius: 35px;
    padding: 0.1px;
}
.slick-arrow {
    display: inline-block;
}
section{
    display: block;
    text-align: justify;
}
/*
.slide-image, img{
    width: 100vw;
    height: 80vh;
}*/

@media(max-width: 947px){
    *{
        box-sizing: border-box;
        
    }
    body{
        width: 100vw;
        height: 100vh;
    }
}

@media(max-width: 400px){
    *{
        box-sizing: border-box;
        
    }
    body{
        width: 100vw;
        height: 100vh;
    }
    section{
        width: 100vw;
        height: 100vh;
        margin-top: 2rem;
        top: 2;
    }
    .right-nav li a, .left-nav li a{
        display: none;
    }
    .menu {
        display: flex;
        background-color: rgb(13, 14, 14);
        width: 25px;
        height: 3px;
        margin: 5px
    }
}